* {
 
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }


.title-icono{
  font-size: 3rem;
  font-weight: 800;
}
.title-shop{
  color: rgb(195, 115, 211);
}
.nav-link {
  font-size: 2rem;
  color: black;

}
.nav-link:hover{
  color:rgb(194, 194, 194)
}
.icono-carrito{
  font-size: 3rem;
  padding-bottom: 10px;
}